<?xml version="1.0"?>
<config >
    <menu>
        <add id="cimpress_dcltest::mcp"
            title="MCP" 
            module="cimpress_dcltest" 
            sortOrder="50" 
            parent="Magento_Catalog::catalog"
            resource="Cimpress_Dcltest::mcp"/>
        <add id="cimpress_dcltest::mcp_import" 
            title="Import Item" 
            module="cimpress_dcltest"
            sortOrder="0"
            parent="cimpress_dcltest::mcp"
            action="mcp/import"
            resource="Cimpress_Dcltest::mcp_import"/>        
    </menu>
</config>